#css-zen-garden {
  background-color: #334;
   font-family: sans-serif;
   color: white;
   background-image: url("https://cdn.pixabay.com/photo/2016/11/25/23/15/moon-1859616_960_720.jpg");
   background-repeat: no-repeat;
   height: 100%;
     background-size: cover;
     background-position: 50% 25%;
     padding: 3em;

}

#zen-intro {
 display: flex;
 background-color: rgba(34, 34, 68, 0.6);
 border-radius: 35px;
  margin-left: 250px;

}

header {
 padding-right: 20px;

}

h1 {
 font-size: 250%;
 text-align: center;
 font-family: 'Nova Square', cursive;
 color: lightblue;


}

h2 {
 text-align: center;
 font-style: italic;
 font-size: 120%;
}
h2 abbr {
 color: #f09;
}
/* Links flash red when hover over */
h2 abbr:hover {
 color: red;
 animation-name: grow2;
 animation-duration: 0.5s;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}
@keyframes grow2 {
 from{
   font-size: 100%;
 }
 to{
   font-size: 105%;
 }
}

#zen-summary {
 padding-right: 15px;
 padding-top: 25px;
}

#zen-summary a {
 text-decoration: none;
 font-weight: bold;
 font-family: 'Nova Square';
-webkit-transition: all 0.25s ease-out;
-moz-transition: all 0.25s ease-out;
transition: all 0.25s ease-out;
}


/*Makes all the headings light-blue*/

h3 {
 font-family: 'Nova Square';
 font-size: 130%;
 color: lightblue;
 text-align: center;
}

#zen-preamble {
 padding-right: 10px;
}
/*Stacks everything in a column under 800px*/
@media only screen and (max-width: 800px) {
    #zen-intro {
      flex-direction: column;
      padding-left: 10px;
      padding-bottom: 20px;
      margin-left: 0px;
      
 }
 
}

#zen-supporting {
 background-color: rgba(17,34,34,0.6);
 border-radius: 35px;
 padding: 10px;  
  margin-left: 250px;
}
@media only screen and (max-width: 800px) {
  #zen-supporting {
    margin-left: 0px;
  }
}
/*Hyperlink colors and animations*/

a {
 text-decoration: none;
 color: orange;
 font-weight: bold;
}
a:hover {
 color: #f09f05;
 animation-duration: 0.5s;
 animation-name: grow;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}
@keyframes grow {
 from{
   font-size: 100%;
 }
 to{
   font-size: 101%;
   color: orangered;
 }
}
/* a:hover {
 animation-name: color-change;
 animation-duration: 0.5s;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}
@keyframes color-change {
 0% {
   
 }
 100% {
   color: orangered;
 }
} /*

/*Footer gets a bit different treatment from everything else*/

footer {
 display: flex;
 justify-content: center;
}

footer a {
 text-decoration: none;
 color: white;
 padding: 15px;
 border: solid gray 2px;
 background-color: black;
 border-radius: 25px;
}

/* Sidebar settings*/
.wrapper {
  background-color: #335;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

}

.design-selection li, .zen-resources li {
    width: 70%;
    border-top: solid 1px #d9e3dc;
    color: #c0cac3;
  font-size: 75%;
}

.design-name {
  font-style: italic;
}

.designer-name {
  font-weight: 99;
  color: #ffffff;

}

#design-selection ul li{
display: inline-block;
  width: 200px;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    padding: 15px;
    border-radius: 15px;
    justify-content: space-around;
  }
  .design-selection li, .zen-resources li {
    font-size: 100%;
    border-top: none;
    flex-wrap: none;
  }
  
}



